:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-transparent-white: #ffffffaa;
    --basic-brown: #503E33;
    --basic-neutral-brown: #604E43;
    --basic-light-brown: #766357;
    --basic-brown-fill: #847870;
    --basic-light-blue: #81B3D2;
    --basic-neutral-blue: #669EC0;
    --basic-blue: #5496BD;
    --basic-blue-active: #87B5D1;
    --social-fill: #87B6D1;
    --basic-background: #E1EFF8;
    --basic-extra-light: #F2F2F2;
    --basic-neutral: #EEEEEE;
    --basic-grey: #E5E5E5;
    --basic-light-grey: #CACACA;
    --basic-extra: #B3B3B3;
    --basic-neutral-grey: #A9A9A9;
    --basic-grey-special: #EBEBEB;
    --basic-dark-grey: #6A6A6A;
    --basic-extra-grey: #BDBBBC;
    --basik-white-grey: #EDEDED;
    --toggle: #ABABAB;
    --toggle-shadow: #D4D4D4;
}

.page-body-container {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-grey);
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body-container {
    width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

.site-nav {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-nav-item {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 16px;
}

.site-nav-link {
    color: var(--basic-black);
}

.site-nav-link:hover {
    color: var(--basic-light-blue);
}

.site-nav-link:active {
    color: var(--basic-extra);
}

.site-nav-link:focus {
    color: var(--basic-light-brown);
}

.site-nav-item:nth-child(4n+1) {
    padding-left: 73px;
}

.site-nav-item:nth-child(4n+2) {
    padding-right: 60px;
}

.site-nav-item:nth-child(4n+3) {
    text-align: right;
    padding-left: 60px;
}

.site-nav-item:nth-child(4n+4) {
    text-align: right;
    padding-right: 72px;
}

.title-background {
    background: var(--basic-background) url("../img/background.jpg") no-repeat center center;
    z-index: 99;
    position: relative;
}

.reasons-title {
    margin: 0;
    padding: 0;
    width: 470px;
    padding-left: 365px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.reasons-title::after {
    content: "";
    width: 1200px;
    height: 100%;
    min-height: 57px;
    background: url("../img/svg/saw-mask.svg") no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
}

.title-mask {
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 9px;
}

.title-foto {
    position: relative;
    min-height: 509px;
    margin-bottom: 33px;
}

.fieldset-type {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-left: 0;
}

.reasons-title,
.reasons-text,
.reasons-item {
    text-align: center;
}

.reasons-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 52px;
    margin-top: 43px;
}

/*===============================*/

.reasons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--basic-neutral);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.reasons-item {
    width: 33.3%;
}

.reasons-item-container {}

.reasons-item-wrap {
    padding-top: 46px;
    padding-bottom: 54px;
}

.reasons-item--spec .reasons-item-wrap {
    padding-top: 49px;
    padding-bottom: 30px;
}

.reasons-caption {
    padding: 0;
    margin: 1px auto 45px 126px;
    margin-bottom: 27px;
    width: 151px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.reasons-item--spec .reasons-caption {
    margin-bottom: 25px;
}

.reasons-numbers {
    text-align: center;
    padding: 0;
    margin: 0 auto 20px;
    margin-bottom: 23px;
    width: 100px;
    font-size: 14px;
    line-height: 21px;
}

.reasons-item--spec .reasons-numbers {
    margin-bottom: 25px;
}

.reasons-description {
    padding: 0;
    margin: 0 auto 0 65px;
    width: 270px;
    text-align: center;
    line-height: 21px;
}

.reasons-item--spec .reasons-description {
    width: 316px;
}

.reasons-item--spec {
    width: 100%;
    background-color: var(--basic-light-blue);
    color: white;
}

.reasons-item--first .reasons-item-container {
    display: grid;
    grid-template-columns: 400px 800px;
}

.reasons-item--first .reasons-item-container::after {
    content: "";
    width: 800px;
    height: 100%;
    min-height: 256px;
    background: url("../img/open-range.jpg") no-repeat 0 0;
    background-size: cover;
}

.reasons-item--second .reasons-item-container {
    display: grid;
    grid-template-columns: 800px 400px;
}

.reasons-item--second .reasons-item-container::before {
    content: "";
    width: 800px;
    height: 100%;
    min-height: 256px;
    background: url("../img/canyon.jpg") no-repeat 0 0;
    background-size: cover;
}

.more-reasons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--basic-white);
    color: var(--basic-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.more-reasons-wrap {
    padding-top: 51px;
    padding-bottom: 82px;
}

.more-reasons-caption {
    padding: 0;
    margin: 0 auto 45px;
    margin-top: 20px;
    margin-bottom: 26px;
    width: 103px;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
}

.more-reasons-item--spec {
    width: 100%;
    padding: 0;
    margin: 0;
}

.more-reasons-description {
    padding: 0;
    margin: 0 auto;
    width: 297px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.button-search {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-light-brown);
    border: none;
    width: 568px;
    height: 86px;
    padding: 0;
}

.button-search:hover {
    background-color: var(--basic-neutral-brown);
}

.button-search:active {
    background-color: var(--basic-brown);
}

.date-area,
.number-area {
    background-color: var(--basic-extra-light);
    border: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
}

.number-area {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.date-area:hover,
.number-area:hover {
    background-color: var(--basic-grey-special);
}

.date-area:focus,
.number-area:focus {
    outline: none;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-grey);
    border-radius: 0px;
}

.booking-number-input {
    display: flex;
    -background-color: red;
}

.btn-minus {
    -position: absolute;
    width: 38px;
    height: 38px;
    -right: 116px;
    -top: 0px;
    border: none;
}

.minus-svg {
    fill: var(--basic-neutral-grey);
    -top: 18px;
    -left: 13px;
    -position: absolute;
}

.btn-plus {
    -position: absolute;
    width: 38px;
    height: 38px;
    -right: 39px;
    -top: 0px;
    border: none;
}

.plus-svg {
    fill: var(--basic-neutral-grey);
}

.minus-svg:hover,
.plus-svg:hover {
    fill: var(--basic-black);
}

.minus-svg:active,
.plus-svg:active {
    fill: var(--basic-light-blue);
}

.tour-date {
    position: relative;
    margin-top: 56px;
    text-align: center;
    margin: 0;
}

.tour-date-caption {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 0 445px;
    width: 300px;
    padding-top: 57px;
    padding-bottom: 50px;
    padding-bottom: 33px;
}

.tour-date-description {
    padding: 0 300px 0;
    min-height: 92px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: center;
    margin: auto;
}

.booking-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    padding: 55px;
}

.booking-info {
    display: flex;
    flex-direction: row;
    -flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    -margin: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    justify-content: space-between;
    height: 38px;
    position: relative;
}

.booking-info label {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 38px;
    vertical-align: middle;
    font-weight: bold;
}

.booking-info input {
    width: 346px;
    height: 100%;
    padding-right: 230px;
    padding-left: 14px;
    font: inherit;
    box-sizing: border-box;
    background-color: var(--basic-extra-light);
}

.booking-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    justify-content: space-between;
    height: 38px;
    position: relative;
}

.booking-item-type {
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.booking-item label {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 38px;
    vertical-align: middle;
    font-weight: bold;
    align-self: center;
}

.booking-item label[for="kids"] {
    margin-left: 50px;
}

.number-area {
    width: 38px;
    height: 38px;
    -padding-right: 230px;
    -padding-left: 14px;
    font: inherit;
    box-sizing: border-box;
    background-color: var(--basic-extra-light);
    align-self: center;
}

.calendar {
    position: absolute;
    width: 21px;
    height: 23px;
    right: 20px;
    top: 8px;
    border: none;
}

.calendar-svg {
    fill: var(--basic-neutral-grey);
}

.calendar-svg:hover {
    fill: var(--basic-black);
}

.calendar-svg:active {
    fill: var(--basic-light-blue);
}

.booking-info input::-webkit-input-placeholder {
    color: var(--basic-black)
}

.booking-info input::-moz-placeholder {
    color: var(--basic-black)
}

.booking-info input:-moz-placeholder {
    color: var(--basic-black)
}

.booking-info input:-ms-input-placeholder {
    color: var(--basic-black)
}

.booking-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.booking-item label {
    margin-left: 53px;
    margin: 0;
}


/* .booking-item input {
    width: 114px;
    padding-right: 14px;
    padding-left: 13px;
    font: inherit;
    box-sizing: border-box;
    background-color: var(--basic-extra-light);
    margin-left: 40px;
    margin-right: 40px;
    height: 38px;
} */

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-position: 0 0;
    padding: 0;
}

.modal-search {
    top: 250px;
    bottom: auto;
    width: 568px;
    margin-top: 40px;
    z-index: 300;
}

.modal-close {
    display: block;
    width: 100%;
    height: 58px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-top: 25px;
    padding: 0;
}

.modal-close:hover {
    background-color: var(--basic-neutral-blue);
}

.modal-close:active {
    background-color: var(--basic-blue);
}

.main-footer {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-transparent-white);
    line-height: 26px;
    bottom: 0;
    height: 120px;
    width: 100%;
}

.visit-contact {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin: 0 auto 42px 72px;
}

.footer-contacts {
    margin: auto;
    padding: 0;
}

.footer-phone {
    color: var(--basic-black);
    text-decoration: none;
}

.footer-social .social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: auto;
    padding: 0;
    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-light-blue);
    color: inherit;
    margin-top: 21px;
}

.social-button:hover {
    background-color: var(--basic-neutral-blue);
}

.social-button:active {
    background-color: var(--basic-blue);
}

.social-button:active path {
    fill: var(--basic-blue-active);
}

.button-more {
    width: 110px;
    height: 27px;
    margin: 0;
    padding: 0;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    background-color: var(--basic-light-blue);
    text-transform: uppercase;
    border: none;
    vertical-align: middle;
}

.button-more:hover {
    background-color: var(--basic-neutral-blue);
    color: var(--basic-white);
}

.button-more:active {
    background-color: var(--basic-blue);
    color: var(--basic-blue-active);
}

.button-booking {
    width: 142px;
    height: 27px;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    background-color: var(--basic-light-brown);
    text-transform: uppercase;
    border: none;
    vertical-align: middle;
}

.button-booking:hover {
    background-color: var(--basic-neutral-brown);
    color: var(--basic-white);
}

.button-booking:active {
    background-color: var(--basic-brown);
    color: var(--basic-brown-fill);
}

.filter-inner {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    margin: 0;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.filter-inner h2 {
    padding: 0;
    margin: 0;
    margin-left: 75px;
    margin-right: 35px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.filter-inner-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-inner-item {
    padding: 0;
    margin-left: 15px;
    margin-right: 30px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-extra);
    border-bottom: 1px dashed var(--basic-light-blue);
}

.filter-inner-item:hover {
    color: var(--basic-light-blue);
    border-bottom: 1px dashed var(--basic-light-blue);
}

.filter-inner-item:active {
    color: var(--basic-black);
    border-bottom: none;
}

.filter-inner-item:focus {
    color: var(--basic-light-blue);
    border-bottom: none;
}

.sort {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sort-arrows {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 75px;
}

.sort-arrows-btn {
    background-image: none;
    background-color: transparent;
    border: transparent;
}

.icon-down-svg path,
.icon-up-svg {
    fill: var(--basic-light-grey);
}

.icon-down-svg:hover path,
.icon-up-svg:hover {
    fill: var(--basic-black);
}

.icon-down-svg:active path,
.icon-up-svg:active {
    fill: var(--basic-light-blue);
}

.icon-down-svg:focus path,
.icon-up-svg:focus {
    fill: var(--basic-light-blue);
}

.filter {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 217px;
    color: var(--basic-white);
    background-image: url("../img/background-catalog\ \(1\).jpg");
    background-repeat: no-repeat;
    background-color: red;
    margin: 0;
    padding: 0;
}

.filter-habit {
    display: grid;
    grid-template-columns: 200px;
    align-items: center;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 31px;
    margin-left: 60px;
}

.filter-list label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox-on+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 26px;
    height: 23px;
    background-image: url("../img/svg/checkbox-on.svg");
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/svg/checkbox-off.svg");
    border-radius: 3px;
}

.filter-input-checkbox:checked+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/svg/checkbox-on.svg");
}

.filter-input-checkbox:disabled:checked+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/svg/checkbox-on-disabled.svg");
}

.filter-input-checkbox:disabled+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/svg/checkbox-off-disabled.svg");
}

.filter-form {
    display: flex;
    flex-direction: column;
}

.fieldset {
    border: 0 none;
}

.filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-item {
    padding: 0;
    margin-top: 26px;
    margin-bottom: 31px;
    margin-left: 60px;
    border: none;
    width: 317px;
}

.filter-item legend {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 0;
    padding-top: 39px;
    border-radius: 2px;
}

.range-controls .scale {
    width: 316px;
    height: 2px;
    background: var(--basik-white-grey);
}

.range-controls .bar {
    width: 248px;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.toggle:hover {
    position: absolute;
    top: 31px;
    left: 0;
    width: 7px;
    height: 7px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 0;
}

.range-controls .toggle-max {
    left: 248px;
}

.price-controls {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--basic-white);
    width: 317px;
    height: 36px;
}

.price-controls label {
    text-transform: uppercase;
    line-height: 21px;
    font-size: 14px;
}

.price-controls input {
    font-size: inherit;
    -width: 60px;
    -margin-left: 10px;
    text-align: center;
    color: var(--basic-white);
    border-radius: 2px;
    background-color: transparent;
    border: none;
}

.cost-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    width: 137px;
    height: 36px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-image: none;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 27%;
    bottom: -20px;
}

.cost-button:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.sorting-list {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.section-item {
    display: flex;
    width: auto;
    flex-direction: row;
    margin: 0px 1px;
    border-bottom: var(--basic-grey) solid 1px;
}

.section-item:first-child {
    border-top: var(--basic-grey) solid 1px;
}

.section-item-info {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-gap: 6px;
}

.link-hotel {
    color: var(--basic-black);
    grid-column: 1/3;
}

.link-hotel:hover {
    color: var(--basic-light-blue);
}

.link-hotel:active {
    color: var(--basic-extra);
}

.hotel-img {
    width: 130px;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 29px;
    margin-left: 72px;
}

.hotel-name {
    grid-column: 1/3;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-item,
.price {
    margin: 0;
    padding: 0;
}

.rating {
    display: grid;
    grid-template-rows: 1fr;
    margin-left: auto;
    min-width: 254px;
    align-self: center;
    row-gap: 47px;
    margin-right: 72px;
}

.rating-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.footer-copyright {
    margin: auto;
    margin-top: 33px;
    margin-right: 131px;
    align-items: center;
    padding: 0;
}

.footer-copy-svg {
    fill: var(--basic-black);
}

.footer-copy-link:hover .footer-copy-svg {
    fill: var(--basic-light-blue);
}

.footer-copy-link:active .footer-copy-svg {
    fill: var(--basic-extra-grey);
}

.map img {
    background: url(img/map.png);
    display: block;
    width: 1199px;
    height: 594px;
}

.map iframe {
    border: none;
    overflow: hidden;
}

/*  
.icon-container {
    display: flex;
    position: relative;
    translate: (-50%, -50%);
}

.links {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 48px;
    width: 46px;
    background: var(--basic-light-blue);
    position: relative;   
}


.twitter::after{
content: " ";
width: 17px;
height: 17px;
background-image: url("../img/twitter.png");
background-repeat: no-repeat;
margin-bottom: 20px;
position: absolute;
margin: 15px 15px 14px 18px;
color: var(--basic-blue);

}

.facebook::after {
    content: " ";
    width: 12px;
    height: 22px;
    background-image: url("../img/fb-icon.png");
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: absolute;
    margin: 13px 17px 13px 17px; 
}

.youtube::after {
    content: " ";
    width: 20px;
    height: 16px;
    background-image: url("../img/youtube.png");
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: absolute;
    margin: 16px 13px 16px 13px; 
} 

.links:hover {
   background-color: var(--basic-neutral-blue);
}

.links:active {
    background-color: var(--basic-blue);
    color: var(--basic-blue);
    
}
*/
