:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-transparent-white: #ffffffaa;
    --basic-brown: #503E33;
    --basic-neutral-brown: #604E43;
    --basic-light-brown: #766357;
    --basic-brown-fill: #847870;
    --basic-light-blue: #81B3D2;
    --basic-neutral-blue: #669EC0;
    --basic-blue: #5496BD;
    --basic-blue-active: #87B5D1;
    --social-fill: #87B6D1;
    --basic-background: #E1EFF8;
    --basic-extra-light: #F2F2F2;
    --basic-neutral: #EEEEEE;
    --basic-grey: #E5E5E5;
    --basic-light-grey: #CACACA;
    --basic-extra: #B3B3B3;
    --basic-neutral-grey: #A9A9A9;
    --basic-grey-special: #EBEBEB;
    --basic-dark-grey: #6A6A6A;
    --basic-extra-grey: #BDBBBC;
    --basik-white-grey: #EDEDED;
    --toggle: #ABABAB;
    --toggle-shadow: #D4D4D4;
    --checkbox-focus: #a7c6da;
    
}

.page-body-container {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-grey);
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body-container {
    width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

.site-nav {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-nav-item {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 17px;
}

.site-nav-link {
    color: var(--basic-black);
}

.site-nav-link:hover {
    color: var(--basic-light-blue);
}

.site-nav-link:active {
    color: var(--basic-extra);
}

.site-nav-choosen {
    color: var(--basic-light-brown);
}

.site-nav-item:nth-child(4n+1) {
    padding-left: 73px;
}

.site-nav-item:nth-child(4n+2) {
    padding-right: 60px;
}

.site-nav-item:nth-child(4n+3) {
    text-align: right;
    padding-left: 60px;
}

.site-nav-item:nth-child(4n+4) {
    text-align: right;
    padding-right: 72px;
}

.title-photo {
    background: var(--basic-background) url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 509px;
    margin-bottom: 41px;
    color: var(--basic-white);
    box-sizing: border-box;
    padding: 76px 50px 57px;
    text-align: center;
}

.title-photo::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    background: url("../img/svg/saw-mask.svg") no-repeat center center;
    background-size: cover;
    bottom: 0;
    left: 0;
}

.title-background {
    z-index: 99;
    position: relative;
}

.reasons {
    position: relative;
    z-index: 100;
}

.reasons-title {
    margin: 0 auto;
    padding: 0;
    width: 470px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.reasons-title,
.reasons-text,
.reasons-item {
    text-align: center;
}

.reasons-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 52px;
    margin-top: 43px;
}

.reasons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--basic-neutral);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.reasons-item {
    width: 33.3%;
}

.reasons-item-wrap {
    padding-top: 47px;
    padding-bottom: 57px;
}

.reasons-item--spec .reasons-item-wrap {
    padding-top: 46px;
    padding-bottom: 30px;
}

.reasons-item--second .reasons-item-wrap {
    padding-top: 48px;
}

.reasons-caption {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 26px;
    width: 151px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.reasons-item--spec .reasons-caption {
    margin-bottom: 27px;
}

.reasons-numbers {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 21px;
    width: 100px;
    font-size: 14px;
    line-height: 21px;
}

.reasons-item--spec .reasons-numbers {
    margin-bottom: 24px;
}

.reasons-description {
    padding: 0;
    margin: 0 auto;
    margin-left: 70px;
    width: 262px;
    text-align: center;
    line-height: 21px;
}

.reasons-item--spec .reasons-description {
    width: 308px;
}

.reasons-item--spec {
    width: 100%;
    background-color: var(--basic-light-blue);
    color: white;
}

.reasons-item--first .reasons-description,
.reasons-item--second .reasons-description {
    padding: 0;
    margin: 0 auto;
    width: 307px;
    text-align: center;
    line-height: 21px;
}

.reasons-item--first .reasons-item-container {
    display: grid;
    grid-template-columns: 400px 800px;
}

.reasons-item--first .reasons-item-container::after {
    content: "";
    width: 800px;
    height: 100%;
    min-height: 256px;
    background: url("../img/open-range.jpg") no-repeat 0 0;
    background-size: cover;
}

.reasons-item--second .reasons-item-container {
    display: grid;
    grid-template-columns: 800px 400px;
}

.reasons-item--second .reasons-item-container::before {
    content: "";
    width: 800px;
    height: 100%;
    min-height: 256px;
    background: url("../img/canyon.jpg") no-repeat 0 0;
    background-size: cover;
}

.more-reasons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--basic-white);
    color: var(--basic-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.more-reasons-wrap {
    padding-top: 51px;
    padding-bottom: 83px;
}

.more-reasons-caption {
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 26px;
    width: 103px;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
}

.more-reasons-item--spec {
    width: 100%;
    padding: 0;
    margin: 0;
}

.more-reasons-description {
    padding: 0;
    margin: 0 auto;
    margin-left: 52px;
    width: 297px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.button-search {
    display: block;
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-light-brown);
    border: none;
    width: 568px;
    min-height: 86px;
    padding: 0;
    padding-bottom: 28px;
    padding-top: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

.button-search:hover {
    background-color: var(--basic-neutral-brown);
}

.button-search:active {
    background-color: var(--basic-brown);
}

.date-area,
.number-area {
    background-color: var(--basic-extra-light);
    border: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
}

.number-area {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.date-area:hover,
.number-area:hover {
    background-color: var(--basic-grey-special);
}

.date-area:focus,
.number-area:focus {
    outline: none;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-grey);
    border-radius: 0px;
}

.booking-number-input {
    display: flex;
}

.btn-minus {
    width: 38px;
    height: 38px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minus-svg {
    fill: var(--basic-neutral-grey);
}

.btn-plus {
    width: 38px;
    height: 38px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-svg {
    fill: var(--basic-neutral-grey);
}

.minus-svg:hover,
.plus-svg:hover {
    fill: var(--basic-black);
}

.minus-svg:active,
.plus-svg:active {
    fill: var(--basic-light-blue);
}

.tour-date {
    position: relative;
    margin-top: 56px;
    text-align: center;
    margin: 0;
    z-index: 50;
}

.tour-date-caption {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 0 445px;
    width: 300px;
    padding-top: 55px;
    padding-bottom: 34px;
}

.tour-date-description {
    padding: 0 300px 0;
    min-height: 91px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: center;
    margin: auto;
}

.booking-form {
    margin: 0;
    padding: 55px;
}

.booking-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-top: 0;
    margin-bottom: 29px;
    justify-content: space-between;
    height: 38px;
    position: relative;
}

.booking-info label {
    display: block;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 36px;
    font-weight: bold;
}

.booking-info input {
    width: 346px;
    height: 100%;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-top: 1px;
    font: inherit;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-color: var(--basic-extra-light);
}

.booking-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    justify-content: space-between;
    height: 38px;
    position: relative;
}

.booking-item-type {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.booking-item label {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 36px;
    vertical-align: middle;
    font-weight: bold;
    align-self: center;
}

.booking-item label[for="kids"] {
    margin-left: 50px;
}

.number-area {
    width: 38px;
    height: 38px;
    font: inherit;
    box-sizing: border-box;
    background-color: var(--basic-extra-light);
    align-self: center;
}

.calendar {
    position: absolute;
    width: 21px;
    height: 23px;
    right: 14px;
    top: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.calendar-svg {
    fill: var(--basic-neutral-grey);
}

.calendar-svg:hover {
    fill: var(--basic-black);
}

.calendar-svg:active {
    fill: var(--basic-light-blue);
}

.booking-info input::-webkit-input-placeholder {
    color: var(--basic-black)
}

.booking-info input::-moz-placeholder {
    color: var(--basic-black)
}

.booking-info input:-moz-placeholder {
    color: var(--basic-black)
}

.booking-info input:-ms-input-placeholder {
    color: var(--basic-black)
}

.booking-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.booking-item label {
    margin-left: 53px;
    margin: 0;
}

.tour-date-container {
    background-color: var(--basic-white);
    z-index: 400;
    position: relative;
}

.modal {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-position: 0 0;
    padding: 0;
    transform: translateY(100%);
    margin-left: -284px;
    width: 568px;
    z-index: 300;
    transition: all 2s;
}

.modal--close {
    transform: translateY(0);
}

.modal-close {
    display: block;
    width: 100%;
    height: 58px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-top: 55px;
    padding: 0;
    font-family: inherit;
}

.modal-close:hover {
    background-color: var(--basic-neutral-blue);
}

.modal-close:active {
    background-color: var(--basic-blue);
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-transparent-white);
    line-height: 26px;
    padding-bottom: 43px;
    width: 100%;
}

.page-body--index .main-footer {
    position: absolute;
    bottom: 0;
}

.visit-contact {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin: 0 auto;
    margin-left: 70px;
    margin-top: 22px;
}

.visit-sedona {
    margin: 0 auto;
    padding-bottom: 10px;
}

.footer-phone {
    color: var(--basic-black);
    text-decoration: none;
}

.button-more {
    width: 110px;
    height: 27px;
    margin: 0;
    padding: 0;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    background-color: var(--basic-light-blue);
    text-transform: uppercase;
    border: none;
    vertical-align: middle;
    font-family: inherit;
}

.button-more:hover {
    background-color: var(--basic-neutral-blue);
    color: var(--basic-white);
}

.button-more:active {
    background-color: var(--basic-blue);
    color: var(--basic-blue-active);
}

.button-booking {
    width: 142px;
    height: 27px;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    background-color: var(--basic-light-brown);
    text-transform: uppercase;
    border: none;
    vertical-align: middle;
    font-family: inherit;
}

.button-booking:hover {
    background-color: var(--basic-neutral-brown);
    color: var(--basic-white);
}

.button-booking:active {
    background-color: var(--basic-brown);
    color: var(--basic-brown-fill);
}

.filter-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 81px;
    margin: 0;
    margin-bottom: 5px;
}

.filter-inner h2 {
    padding: 0;
    margin: 0;
    margin-left: 73px;
    margin-right: 47px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.filter-inner-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
}

.filter-inner-item {
    padding: 0;
    margin-left: 15px;
    margin-right: 18px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-extra);
    border-bottom: 1px dashed var(--basic-light-blue);
}

.filter-inner-item:hover {
    color: var(--basic-light-blue);
    border-bottom: 1px dashed var(--basic-light-blue);
}

.filter-inner-item:active {
    color: var(--basic-black);
    border-color: transparent;
}

.filter-inner-item:focus {
    color: var(--basic-light-blue);
    border-color: transparent;
}

.filter-inner-item--active {
    color: var(--basic-light-blue);
    border-color: transparent;
}

.sort {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 25px;
}

.sort-arrows {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 67px;
    margin-top: 6px;
}

.sort-arrows-btn {
    background-image: none;
    background-color: transparent;
    border: transparent;
}

.icon-down-svg,
.icon-up-svg {
    fill: var(--basic-light-grey);
}

.sort-arrows-btn:hover .icon-down-svg,
.sort-arrows-btn:hover .icon-up-svg {
    fill: var(--basic-black);
}

.sort-arrows-btn:active .icon-down-svg,
.sort-arrows-btn:active .icon-up-svg {
    fill: var(--basic-light-blue);
}

.sort-arrows-btn:focus .icon-down-svg,
.sort-arrows-btn:focus .icon-up-svg {
    fill: var(--basic-light-blue);
}

.sort-arrows--active .icon-down-svg,
.sort-arrows--active .icon-up-svg {
    fill: var(--basic-light-blue);
}

.filter {
    width: 1200px;
    color: var(--basic-white);
    background-image: url("../img/background-catalog.jpg");
    background-repeat: no-repeat;
    background-color: var(--basic-light-blue);
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 13px;
    background-size: cover;
    box-sizing: border-box;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.filter-habit-container {
    display: flex;
    justify-content: flex-start;
}

.filter-habit {
    padding: 0;
    width: 220px;
    margin-right: 34px;
}

.filter-list label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 42px;
}

.filter-input-checkbox-on+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 26px;
    height: 23px;
    background-image: url("../img/svg/checkbox-on.svg");
    background-position: 0 0;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 23px;
    height: 23px;
    background-image: url("../img/svg/checkbox-off.svg");
    border-radius: 3px;
}

.filter-input-checkbox:checked+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 27px;
    height: 23px;
    background-image: url("../img/svg/checkbox-on.svg");
    background-position: 0 0;
}

.filter-input-checkbox:disabled:checked+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 27px;
    height: 23px;
    background-image: url("../img/svg/checkbox-on-disabled.svg");
    background-position: 0 0;
}

.filter-input-checkbox:disabled+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 23px;
    height: 23px;
    background-image: url("../img/svg/checkbox-off-disabled.svg");
    background-position: 0 0;
}

.filter-input-checkbox:focus+label {
    color: var(--checkbox-focus);
}

.filter-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.fieldset-type {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.fieldset-range {
    margin-bottom: 10px;
    padding-top: 2px;
}

.filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-list-item {
    margin-bottom: 19px;
}

.filter-item {
    position: relative;
    padding: 0;
    border: none;
    width: 317px;
}

.filter-item::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    top: 41px;
    right: 157px;
    background-color: var(--basic-white);
}

.filter-item legend {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 9px;
}

.range-controls {
    position: relative;
    height: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    padding-right: 20px;
    padding-left: 0;
    padding-top: 20px;
    border-radius: 2px;
}

.range-controls .scale {
    width: 316px;
    height: 2px;
    background: var(--basik-white-grey);
}

.range-controls .bar {
    width: 248px;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.toggle:hover {
    position: absolute;
    top: 10px;
    left: 0;
    width: 7px;
    height: 7px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 0;
}

.range-controls .toggle-max {
    left: 253px;
}

.price-controls {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--basic-white);
    width: 313px;
    height: 34px;
}

.price-controls-group {
    width: 50%;
    display: flex;
}

.price-label {
    text-transform: uppercase;
    line-height: 21px;
    font-size: 14px;
    width: 55%;
    text-align: right;
    padding-top: 7px;
}

.price-controls input {
    font-size: inherit;
    text-align: left;
    color: var(--basic-white);
    border-radius: 2px;
    background-color: transparent;
    border: none;
    width: 50%;
}

.max-price {
    width: 46%;
}

.cost-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    width: 137px;
    height: 36px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-image: none;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 27%;
    bottom: -20px;
    font-family: inherit;
}

.cost-button:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.sorting-list {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.section-item {
    display: flex;
    width: auto;
    flex-direction: row;
    margin: 0px 1px;
    border-bottom: var(--basic-grey) solid 1px;
}

.section-item:first-child {
    border-top: var(--basic-grey) solid 1px;
}

.section-item-info {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 27px;
    margin-bottom: 25px;
    grid-gap: 6px;
}

.link-hotel {
    color: var(--basic-black);
    grid-column: 1/3;
}

.link-hotel:hover {
    color: var(--basic-light-blue);
}

.link-hotel:active {
    color: var(--basic-extra);
}

.hotel-img {
    width: 135px;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 29px;
    margin-left: 72px;
}

.hotel-name {
    grid-column: 1/3;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-item,
.price {
    margin: 0;
    padding: 0;
    margin-top: -9px;
}

.rating {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: right;
    margin-left: auto;
    align-self: center;
    min-width: 254px;
    row-gap: 58px;
    margin-right: 70px;
}

.rating-star::before {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    height: 19px;
    background-repeat: no-repeat;
    background-image: url("../img/svg/Stars.svg");
    background-position: 0 0;
}

.rating-star--four::before {
    width: 90px;
}

.rating-star--three::before {
    width: 66px;
}

.rating-star--two::before {
    width: 42px;
}

.rating-star--five::before {
    width: 114pxpx;
}

.rating-star--one::before {
    width: 18px;
} 

.rating-number {
    display: flex;
    flex-direction: row-reverse;
    width: 110px;
    padding: 6px 13px 3px 13px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background-color: var(--basic-extra-light);
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 41px;
    margin-right: 131px;
    padding: 0;
}

.footer-web {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-top: 6px;
    margin-right: 15px;
    padding: 0;
}

.footer-copy-svg {
    fill: var(--basic-black);
}

.footer-copy-link:hover .footer-copy-svg {
    fill: var(--basic-light-blue);
}

.footer-copy-link:active .footer-copy-svg {
    fill: var(--basic-extra-grey);
}

.map img {
    background: url("../img/map.jpg");
    display: block;
    width: 1199px;
    height: 594px;
}

.map iframe {
    border: none;
    overflow: hidden;
}

.icon-container {
    display: flex;
    position: relative;
    translate: (-50%, -50%);
}

.footer-social .social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: auto;
    padding: 0;
    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-light-blue);
    color: inherit;
    margin-top: 35px;
}

.social-button::after {
    content: "";
    background-repeat: no-repeat;
    display: block;
}

.social-button:hover {
    background-color: var(--basic-neutral-blue);
}

.social-button:active {
    background-color: var(--basic-blue);
}

.social-button:active::after {
    opacity: 0.3;
}

.social-button--twitter::after {
    width: 17px;
    height: 17px;
    background-image: url("../img/socials/twitter.svg");
}

.social-button--facebook::after {
    width: 12px;
    height: 22px;
    background-image: url("../img/socials/fb-icon.svg");
}

.social-button--youtube::after {
    width: 20px;
    height: 16px;
    background-image: url("../img/socials/youtube.svg");
}

.inner-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-transparent-white);
    line-height: 26px;
    height: 127px;
    width: 100%;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal-error {
    animation: shake 0.6s;
}