:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-brown: #503E33;
    --basic-neutral-brown: #604E43;
    --basic-light-brown: #766357;
    --basic-light-blue: #81B3D2;
    --basic-neutral-blue: #669EC0;
    --basic-blue: #5496BD;
    --basic-extra-light: #F2F2F2;
    --basic-neutral: #EEEEEE;
    --basic-grey: #E5E5E5;
    --basic-light-grey: #CACACA;
    --basic-extra: #B3B3B3;
    --basic-neutral-grey: #A9A9A9;
    --basic-grey: #EBEBEB;
    --basic-dark-grey: #6A6A6A;
    --basic-extra-grey: #BDBBBC;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page-body-container {
    width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

.site-nav {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.site-nav-item {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 16px;
}

.site-nav-item:nth-child(4n+1) {
    padding-left: 73px;
}

.site-nav-item:nth-child(4n+2) {
    padding-right: 60px;
}

.site-nav-item:nth-child(4n+3) {
    text-align: right;
    padding-left: 60px;
}

.site-nav-item:nth-child(4n+4) {
    text-align: right;
    padding-right: 72px;
}

.main-navigation-wrapper {
    background-color: var(--basic-black);
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--basic-light-blue);
}

.background {
    background-image: url(img/background.jpg);
    z-index: 99;
    position: relative;
}

.reasons_title {
    margin: 0;
}

.mask {
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0px;
}

.title_foto {
    position: relative;
    height: 509px
}

.more_reasons_list {
    list-style: none;
}

.reasons_list {
    list-style: none;
}

.reasons_title,
.reasons-text,
.reasons_item {
    text-align: center;
}

.reasons_title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.reasons-text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.reasons_item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.item_reasons {
    width: 1200px;
    height: 256px;
    background-color: var(--basic-neutral);
    background-position: 0 0;
    background-repeat: repeat;
}

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-light-brown);
    border: none;
    width: 568px;
    height: 86px;
}

.button:hover {
    background-color: var(--basic-neutral-brown);
}

.button:active {
    background-color: var(--basic-brown);
}

.date_area,
.number_area {
    background-color: var(--basic-extra-light);
    border: none;
}

.modal-close {
    width: 458px;
    height: 58px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}

.modal-close:hover {
    background-color: var(--basic-neutral-blue);
}

.modal-close:active {
    background-color: var(--basic-blue);
}

.first_reason,
.second_reason {
    width: 400px;
    height: 256px;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason_foto {
    width: 800px;
    height: 256px;
}

.main-footer {
    display: grid;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
    line-height: 26px;
}

.container-inner li {
    list-style: none;
}

.social_list {
    list-style: none;
}

.social_list a {
    background-color: var(--basic-light-blue);
    list-style: none;
}

.social_list a:hover {
    background-color: var(--basic-neutral-blue);
}

.social_list a:active {
    background-color: var(--basic-blue);
}

.filter {
    width: 1200px;
    height: 217px;
    color: var(--basic-white);
    background-image: url(img/background-catalog\ \(1\).jpg);
    background-repeat: no-repeat;
}

.button_more {
    width: 110px;
    height: 27px;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    background-color: var(--basic-light-blue);
    text-transform: uppercase;
    border: none;
    vertical-align: middle;
}

.button_more:hover {
    background-color: var(--basic-neutral-blue);
}

.button_more:active {
    background-color: var(--basic-blue);
}

.button_booking {
    width: 142px;
    height: 27px;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    background-color: var(--basic-light-brown);
    text-transform: uppercase;
    border: none;
    vertical-align: middle;
}

.button_booking:hover {
    background-color: var(--basic-neutral-brown);
}

.button_booking:active {
    background-color: var(--basic-brown);
}

.sorting_list h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-copy-svg {
    fill: var(--basic-black);
}

.footer-copy-link:hover .footer-copy-svg {
    fill: var(--basic-light-blue);
}

.footer-copy-link:active .footer-copy-svg {
    fill: var(--basic-extra-grey);
}